<aside>
  <h2>Neue Tutorials</h2>
  <ul>
    <li>Node.js-Der schnelle Einstieg, 28. Sep. 2025-Dauer: 1 Std. 5 Min</li>
    <li>Angular GrundKurs ,Ökosystem, 28. Sep. 2025-Dauer: 1 Std. 58 Min</li>
  </ul>
</aside>
